{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block content %}
{% load static %}

<!-- Register Section -->
<section class="register-section">
    <!-- Container for the register section with padding and margin -->
    <div class="container py-3 my-3 h-75">
        <!-- Row to center the content vertically -->
        <!-- Display form submission messages -->
        {% if messages %}
            {% for message in messages %}
                {% if 'register_form' in message.tags %}
                    <div class=" mt-2 {{ message.tags }}">
                        <a class="close" data-dismiss="alert">×</a>
                        {{ message|safe }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endif %}
        <div class="row d-flex justify-content-center align-items-center h-100">
            <!-- Column for register content with specified widths for different screen sizes -->
            <div class="register-content col-12 col-md-8 col-lg-6 col-xl-5">
                <!-- Card for the register form -->
                <div class="card custom-bg-primary text-black">
                    <!-- Card body -->
                    <div class="card-body p-4 text-center">
                        <div class="mb-md-3 mt-md-3 pb-3">
                            <!-- Title for the register form -->
                            <h2 class="fw-bold mb-2 text-uppercase">Register An Account</h2>
                            <!-- Form for the register -->
                            <form method="post">
                                <!-- CSRF token for security -->
                                {% csrf_token %}
                                <!-- First Name input field -->
                                <div data-mdb-input-init class="form-outline form-white mb-3">
                                    {{ form.first_name }}
                                    <label class="form-label" for="registerFirstName">First Name</label>
                                </div>
                                <!-- Last Name Input Field -->
                                <div data-mdb-input-init class="form-outline form-white mb-3">
                                    {{ form.last_name }}
                                    <label class="form-label" for="registerLastName">Last Name</label>
                                </div>
                                <!-- Email input field -->
                                <div data-mdb-input-init class="form-outline form-white mb-3">
                                    {{ form.email }}
                                    <label class="form-label" for="typeEmailX">Email</label>
                                </div>
                                <!-- Password input field -->
                                <div data-mdb-input-init class="form-outline form-white mb-3">
                                    {{ form.password }}
                                    <label class="form-label" for="typePasswordX">Password</label>
                                </div>
                                <!-- Phone Number Input Field -->
                                <div data-mdb-input-init class="form-outline form-white mb-3">
                                    {{ form.phone_number }}
                                    <label class="form-label" for="registerPhoneNumber">Phone Number</label>
                                </div>
                                <!-- Address Input Field -->
                                <div data-mdb-input-init class="form-outline form-white mb-3">
                                    {{ form.address }}
                                    <label class="form-label" for="registerAddress">Address</label>
                                </div>
                                <!-- Submit button for registering -->
                                <button data-mdb-button-init data-mdb-ripple-init class="btn custom-btn btn-lg px-4" type="submit">Register</button>
                            </form>
                             <div>
                                <!-- Link to login page for existing users -->
                                <p class="mt-3">Already have an account? <a href="{% url 'login' %}" class="text-black-50 fw-bold">Login</a>
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}


{% block js %}
    <script type="module" src="{% static 'js/register.js' %}"></script>
    <script type="module" src="{% static 'js/shared.js' %}"></script>
{% endblock %}